<!DOCTYPE HTML>
<html>
    <head>
        <script src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
        {{ page.factory.media }}
        {{ page.factory.html_declarations }}

        {% with page.factory.js_declaration as js_declaration %}
            {% if js_declaration %}
                <script>
                    $(function() {
                        var pageMetaInitializer = {{ js_declaration|safe }};
                        var initPage = pageMetaInitializer({{ page.js_declaration_params|safe }});
                        initPage('page');
                    })
                </script>
            {% endif %}
        {% endwith %}
    </head>
    <body>
        {{ page.render }}
    </body>
</html>
