<!DOCTYPE HTML>
<html>
    <head>
        <script src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
        {{ page.factory.media }}
        {{ page.factory.html_declarations }}

        {% with page.factory.js_initializer as js_initializer %}
            {% if js_initializer %}
                <script>
                    $(function() {

var pageInitializer = {{ js_initializer|safe }};

pageInitializer({{ page.js_initializer_param|safe }}, 'page');

                    })
                </script>
            {% endif %}
        {% endwith %}
    </head>
    <body>
        {{ page.render }}
    </body>
</html>
